<%= partial('layout_header'); %>
    <body>    
        <div class="container-fluid">
            <!-- render the individual page content -->
            <%- render(); %>
        </div>
    </body>
<%= partial('layout_footer'); %>

