<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Twitter</title>
    <link rel="stylesheet" type="text/css" href="~/Shared/bootstrap/css/bootstrap.min.css" media="screen" />


    @RenderSection("styles", required: false)

    <style type="text/css">
        input[type=text], input[type=password] {
            min-width: 300px;
            height: 30px;
        }

        input.typeahead {
            width: 20px;
            min-width: 200px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .tt-dropdown-menu {
            background-color: white;
            padding: 10px;
            border: 1px solid #cccccc;
            width: 200px;
        }

        .tt-suggestion {
            font-size: 12pt;
            color: #999999;
            padding: 2px;
            text-align: center;
        }

            .tt-suggestion:hover {
                background-color: #e1edf7;
            }
    </style>

    <script type="text/javascript" src="~/Shared/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Shared/jquery/jquery-migrate-1.1.0.min.js"></script>

    <script type="text/javascript" src="~/Shared/jquery/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/Shared/jquery/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Shared/jquery/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Shared/jquery/jquery-ui-1.8.20.min.js"></script>

    <script type="text/javascript" src="~/Shared/bootstrap/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="~/Shared/typeahead.min.js"></script>
    <script type="text/javascript" src="~/Shared/angular.min.js"></script>
    <script type="text/javascript" src="~/Shared/modernizr-2.5.3.js"></script>

    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="container-fluid">
        <div class="container" id="contentStage">
            @RenderBody()
        </div>
    </div>
</body>
</html>
