<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Twitter</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
        
    @RenderSection("styles", required: false)

    <style type="text/css">
        input[type=text], input[type=password] {
            min-width: 300px;
            height: 30px;
        }

        input.typeahead {
            width: 20px;
            min-width: 200px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .tt-dropdown-menu {
            background-color: white;
            padding: 10px;
            border: 1px solid #cccccc;
            width: 200px;
        }

        .tt-suggestion {
            font-size: 12pt;
            color: #999999;
            padding: 2px;
            text-align: center;
        }

            .tt-suggestion:hover {
                background-color: #e1edf7;
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="container" id="contentStage">
            @RenderBody()
        </div>
    </div>

    <script src="~/js/typeahead.min.js"></script>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>